<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maps.elektro.com.finalmaps" >

    <permission android:name="maps.elektro.com.finalmaps.permission.MAPS_RECEIVE" />

    <uses-permission android:name="maps.elektro.com.finalmaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <activity
        android:name=".MapsActivity"
        android:label="@string/title_activity_maps" >
    </activity>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDxNGt344lJdOCNg7h7w0oA1H906WzY_Kw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".about"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name=".list"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".Detail_Place"
            android:label="@string/title_activity_detail__place" >
        </activity>
        <activity
            android:name=".mapsview"
            android:label="@string/title_activity_mapsview" >
        </activity>
        <activity
            android:name=".galeri"
            android:label="@string/title_activity_galeri" >
        </activity>
    </application>

</manifest>
